* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.parent {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}
.child {
  resize: vertical;
  overflow: auto;
}

#usage {
  margin: 20px
}

.low-usage {
  color: #9bc288;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: #cf796d;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body {
  background-color: #faf6eb;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.thermostat {
  width: 350px;
  padding: 0px;
  margin: 20px auto;
  text-align: left;
  padding-bottom: 20px;
  padding-left: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
} 

#temp_input {
  width: 30px
}

.btn {
  background-color: black;
  color: white;
}

.local-weather {
  font-weight: 400;
  font-size: 12px;
  width: 350px;
  margin: auto;
  padding-bottom: 20px;
  padding-left: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

.thermo-text{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
